[core]
	excludesfile = ~/.gitignore_global
	hooksPath = ${HOME}/workspace/git-hooks-core
	editor = vim
	pager = diff-highlight | less -x1,5   # setting tabwidth to 4
[interactive]
	diffFilter = diff-highlight
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[user]
	name = Ming Li
	email = mli@apache.org
[commit]
	template = ~/.git_commit_template
[log]
	# follow the renamed/moved file
	# follow = true
[diff]
	tool = bc3
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[alias]

##config for delta
#[pager]
#    diff = delta
#    log = delta
#    reflog = delta
#    show = delta
#
#[delta]
#    plus-style = "syntax #012800"
#    minus-style = "syntax #340001"
#	syntax-theme = Monokai Extended
#    navigate = true
#	#side-by-side = true
#
#[interactive]
#    diffFilter = delta --color-only
