[core]
	excludesfile = /Users/gpadmin/.gitignore_global
	hooksPath = ${HOME}/workspace/git-hooks-core
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Ming LI
	email = mli@apache.org
[commit]
	template = ~/.stCommitMsg
[icdiff]
	options = --highlight --line-numbers
